PORT=3000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=your_db_name

JWT_SECRET=random_value

WEATHER_API_KEY=your_openweather_API_key
PERENUAL_API_KEY=your_perenual_API_key
EXCHANGERATE_API_KEY=your_exchangerate_API_key
GEMINI_API_KEY=your_GEMINI_API_key
GROQ_API_KEY=your_GROQ_API_key